.container{
  display: flex;
  flex-direction: column;
}

.book-cover img {
  height: auto;
  width: 150%;
  display: flex;
  border: 5px outset white;
}

.content {
  display: flex;
  align-items: center;
  margin-right: 20%;
}

.description {
  margin-right: 20%;
}

.author {
  font-size: 18px;
}

.title {
  font-size: 20px;
  color: hsla(53, 100%, 50%, 1);
  font-weight: bold;
  font-style: italic; 
  display: flex;
  margin-top: 20px;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}