.container {
  display: flex;
  flex-direction: column;
}

.book-cover img {
  height: auto;
  width: 125px;
  display: flex;
  border: 2px solid royalblue;
}

.content {
  display: flex;
  align-items: center;
  margin-right: 20%;
  border-bottom: solid gray 1px;
}

.description {
  margin-right: 20%;
}

.author {
  font-size: 18px;
}

.title {
  font-size: 20px;
  color: royalblue;
  font-weight: bold;
  font-style: italic; 
  display: flex;
  margin-top: 20px;
  margin-bottom: 0;
}