.content > .films img {
    display: flex;
    gap: 17px;
    flex-direction: row;
  }

.films img {
    height: auto;
    width: 75px;
    padding: 0px 5px;
}

.films {
    flex: auto;
}

.content {
    display: flex;
    flex: 1;
    justify-content: center;
    margin: auto;
}