.container{
    display: flex;
    flex-direction: column;
}

.headshot img {
    height: auto;
    width: 45%;
    display: flex;
    border: solid white 5px;
    border-radius: 25% 10%;
}

.content {
    display: flex;
    align-items: center;
}

.sections {
    flex-direction: column;
    margin-right: 100px;
}