#headshot {
    height: auto;
    width: 15%;
    display: block;
    margin-bottom: 15px;
}

#socials a:hover {
    background-color: hsla(53, 100%, 50%, 1);
}

#linkedin {
    background-color:rgb(0, 119, 181);
    color: white;
}

#github {
    background-color: white;
    color: black;
}

p {
    margin-right: 50%;
}