.container{
    display: flex;
    flex-direction: column;
}

.headshot img {
    height: auto;
    width: 50%;
    display: flex;
    border: solid white 5px;
    border-radius: 25% 10%;
    margin-left: 50%;
}

.content {
    display: flex;
    align-items: center;
    margin-right: 10%;
}

.sections {
    flex-direction: column;
}