.container {
    border: 1px solid hsla(53, 100%, 50%, 1);
    border-radius:10px;
    padding: 10px 5px 10px 5px;
    background-color: #000000;
    color: #FFFFFF;
    margin-right: 50%;
  }

  .container_header {
    border-bottom: 1px solid gray;
    width: 100%;
    margin: 5px;
    text-align: center;
    font-size: 24px;
    font-style: italic;
  }

  .each_container {
    width: 100%;
    clear: both;
    margin-bottom: 10px;
    overflow: auto;
    padding-bottom: 4px;
    border-bottom: 1px solid #aaa;
  }

  .book_container {
    overflow: hidden;
    height: 160px;
    float: left;
    margin-right: 4px;
    width: 98px;
  }

  .author {
    font-size: 18px;
  }

  .title {
    font-size: 20px;
    padding-bottom: 5px;
    font-style: italic; 
  }

  a {
    text-decoration: none;
  }