@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

.light {
    --color-base-bg: whitesmoke;
    --color-base-text: royalblue;
    --color-btn-bg: whitesmoke;
    --header-and-label-color: black;
}

.dark {
    --color-base-bg: black;
    --color-base-text: gold;
    --color-btn-bg: black;
    --header-and-label-color: whitesmoke;
}

.header {
    display: flex;
    position: sticky;
    padding: 15px;
    font-size: 20px;
    color: var(--header-and-label-color);
    background-color: var(--color-base-bg);
    justify-content: space-between;
    border-bottom: 5px solid; 
    border-bottom-color: var(--color-base-text);
    top: 0;
}

#themeBtn {
    width: 30px;
    height: 30px;
}

.content,
#theme {
    color: var(--color-base-text);
}

body {
    background-color: var(--color-base-bg);
    padding: 0;
    margin: 0;
    font-family: 'Merriweather';
}

.name {
    margin-right: 15px;
    font-size: 25px;
    font-weight: bold;
    font-style: italic;
}

box, button {
    height: 100%;
    width: auto;
    border: 2px solid;
    border-color: var(--color-base-text);
    padding: 1px;
    margin-right: 0px;
    font-size: 20px;
    font-family: 'Merriweather';
}

.header > .left > a {
    color: var(--header-and-label-color)
}

a {
    text-decoration: none;
    color: var(--color-base-text);
}

.content {
    align-items: center;
    display: flex;
    margin: 12px;
    font-size: 18px;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 17px;
}

.left, .right {
    display: flex;
    gap: 17px;
    align-items: center;
}

#linkedin {
    background-color:rgb(0, 119, 181);
    color: white;
}

#github {
    background-color: white;
    color: black;
}

#email {
    background-color: orangered;
    color: white
}

a:hover {
    text-decoration: underline;
}

.title {
    font-size: 20px;
    color: var(--header-and-label-color);
    font-weight: bold;
    font-style: italic; 
    display: flex;
    margin-top: 20px;
    margin-bottom: 0;
}
  
#theme {
    background-color: var(--color-btn-bg);
    color: var(--color-base-text);
}
  
button:hover {
    cursor: pointer;
}